<div class="buttons">
  <!--Input buttons for the calculator-->
  <button type="button" onclick="clr()">C</button>
  <button onclick="add('(')" type="button">(</button>
  <button onclick="add(')')" type="button">)</button>
  <button onclick="pop()" type="button"><</button>
  <br>
  <button onclick="add(1)" type="button">1</button>
  <button onclick="add(2)" type="button">2</button>
  <button onclick="add(3)" type="button">3</button>
  <button onclick="add('+')" type="button">+</button>
  <br>
  <button onclick="add(4)" type="button">4</button>
  <button onclick="add(5)" type="button">5</button>
  <button onclick="add(6)" type="button">6</button>
  <button onclick="add('-')" type="button">−</button>
  <br>
  <button onclick="add(7)" type="button">7</button>
  <button onclick="add(8)" type="button">8</button>
  <button onclick="add(9)" type="button">9</button>
  <button onclick="add('*')" type="button">x</button>
  <br>
  <button onclick="add(0)" type="button">0</button>
  <button onclick="add('.')" type="button">.</button>
  <button onclick="calculate()" type="submit">=</button>
  <button onclick="add('/')" type="button">÷</button>
</div>
